<link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
<div class = "headPort">
    <h3>
      My work as a Web&Mobile developer 
    </h3>
    <div class = "portBackground">
        <img src="../../../assets/images/pexels-photo-134402.jpeg" alt="Portfolio Background">
    </div>
</div>
<div class = "portMiddle">
  <div class="mainPort">  
      <div class="row">
        <div class="column">
          <div class="content">
            <a href="https://project3900.000webhostapp.com/index.html"><img src="../../../assets/images/group10.PNG" alt="Project Image1" style="width:100%"></a>
            <h4>Website Upgrade</h4>
            <p>Participated on front-end designing for the website rebuilding, mainly took part in UI designing and JavaScript effects.</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
          <a href="https://youtu.be/R8nYbBbSg_E"><img src="../../../assets/images/bulletComments.PNG" alt="Bullet Comment Website" style="width:100%"></a>
            <h4>Bullet comments for presentation</h4>
            <p>Listeners can use this website to leave comments and communicate with each other during a PDF Presentation.</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
          <a href="https://youtu.be/_o7Wd4x4Aeg"><img src="../../../assets/images/4900.PNG" alt="Project Image3" style="width:100%"></a>
            <h4>B2B Website Upgrade</h4>
            <p>Laravel framework, Stripe API for online payment.</p>
          </div>
        </div>
        <div class="column">
          <div class="content">
          <a href="https://youtu.be/15JgtqjPPto"><img src="../../../assets/images/Craigslist.PNG" alt="Craigslist Image" style="width:100%"></a>
            <h3>Craigslist Clone</h3>
            <p>Laravel framework clone the Craigslist website.</p>
          </div>
        </div>
      </div>
      <a id ="linkToGit" href="https://github.com/maggiejieyao"><h6>More projects can be checked from here.</h6></a>
    </div>
</div>

  
