<!--The content below is only a placeholder and can be replaced.-->
<app-layout>
  <div style="text-align:left" id = "mainBody">
    <h1>
      Maggie Wu
    </h1>
    <h2>
      Human . web-designer . problemming solver
    </h2>
  </div>
  <link href="https://fonts.googleapis.com/css?family=Rock+Salt" rel="stylesheet">
</app-layout>

<div id = "videoPart">
  <video autoplay muted loop id = "myVideo">
    <source src="../assets/video/Pexels Videos 5069.mp4" type="video/mp4">
  </video>
</div>

<div class = "color">

</div>

<router-outlet></router-outlet>
